*{
    margin: 0;
    padding: 0;

}
body{
    background-color: #cfb489;
}
nav{
    display: flex;
    
    flex-direction: row;
    background-color: #f8e790;
    padding: 20px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    margin: 0 10px;
}

nav ul li a{
    text-decoration: none;
    color: black;

}

input[type = "search"]{
    padding: 10px 30px;
    font-size: 15px;
}


/* css for main */

.products {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 10px;
    max-width: 100vw;
}
  
.product-card {
    background-color: #feed95;
    max-width: 100vw;
   
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
   
}
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
.container {
    padding: 2px 16px;
}

hero-image{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}



 
 

 .footer{
    padding: 20px;
    background-color: #f8e790;    

 }

 .footer ul{
    display: flex;
 }
 .footer ul li{
    list-style: none;
    margin: 0 10px;
 }
.footer ul li a{
    color: red;
    font-weight: bold;
}